@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
/* change colours to suit your needs */

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
/* change colours to suit your needs */

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* change border colour to suit your needs */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
input, select {
	vertical-align: middle;
}
/* header */

.head-wrap {
	display: flex;
	justify-content: space-between;
	background-color: pink;
	line-height: 10vh;
	font-weight: bold;
}
.head-wrap h1 {
	font-size: 1.5em;
	padding-left: 2vw;
}
.head-item ul {
	display: flex;
	list-style: none;
}
.head-item a {
	text-decoration: none;
	color: #000;
	padding-right: 2vw;
}
/* main1 */

.main1-wrap {
	background-image: url("./img 12/mv.png");
	color: white;
	height: 70vh;
	background-size: cover;
	position: relative;
}
.main1-item {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 95vw;
}
.main1-item h2 {
	font-size: 3em;
	text-align: center;
}
.main1-item p {
	font-weight: bold;
	text-align: center;
	padding-top: 3vh;
}
/* main2 */

.main2-wrap {
	background-color: black;
	color: white;
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main2-item {
	width: 90vw;
}
.main2-item h3 {
	font-size: 2em;
}
.main2-item p {
	line-height: 1.5em;
	padding-top: 4vh;
}
@media screen and (max-width:768px) {
	/* ?? */
	#main2 {
		height: 30%;
	}
	.main2-item {
		width: 88vw;
	}
	.main2-item h3 {
		padding-top: 5%;
	}
	.main2-item p {
		padding-bottom: 20vh;
	}
}
/* main3 */

#main3 h4 {
	text-align: center;
	font-size: 2em;
	padding-top: 10vh;
	padding-bottom: 5vh;
}
.main3-item2 {
	width: 330px;
	background-color: red;
	margin: 0 auto;
	text-align: center;
	padding: 1.2em 0;
	margin-bottom: 10vh;
}
.main3-item2 a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
}
@media screen and (max-width:768px) {
	.main3-wrap {
		display: flex;
		flex-wrap: wrap;
		width: 85%;
		margin: 0 auto;
	}
	.main3-item img {
		width: 100%;
	}
	.main3-item p {
		width: 100%;
		padding-bottom: 3vh;
		line-height: 1.5em;
		font-size: 1.1em;
	}
	.main3-item h1 {
		padding: 1vh 0;
		font-size: 1.2em;
		line-height: 1.1em;
	}
}
@media screen and (min-width: 768px){
	 /* main3 */
	.main3-wrap {
    display: flex;
		flex-wrap: wrap;
		width: 90%;
		margin: 0 auto;
		justify-content: space-between;
	}
	.main3-item {
		width: calc((100% - 2vw) / 2);
		
	}
	.main3-item img{
		width: 100%;
	}
	.main3-item h1 {
		font-weight: bold;
		line-height: 1.8em;
		
	}
	.main3-item p{
		line-height: 1.8em;
		padding-bottom: 3vh;
	}

}
   

/* main4 */

#main4 {
	background-color: #000;
}
.main4-wrap {
	width: 85%;
	margin: 0 auto;
	padding-top: 10vh;
}
.main4-item1 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5vh;
}
.main4-item1 h1 {
	color: white;
	font-weight: bold;
	font-size: 2em;
}
.main4-1-1 {
	display: inline-block;
	background-color: red;
	padding: 6px 15px;
}
.main4-1-1 a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.main4-item2 {
	padding-bottom: 10vh;
}
.main4-item2 p {
	line-height: 3em;
	font-weight: bold;
	margin-bottom: 3vh;
	background-color: white;
}
/* main5 */

.main5-wrap {
	width: 85%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
#main5 h1 {
	text-align: center;
	font-size: 2em;
	margin-bottom: 5vh;
	margin-top: 10vh;
}
.main5-1 {
	line-height: 2em;
}
.main5-2 {
	font-weight: bold;
	padding-bottom: 0.5em;
	font-size: 1.2em;
}
.main5-item1 img {
	width: 100%;
}

@media screen and (min-width:768px){
	.main5-item1 {
		width: calc(100%/3);
	}
	.main5-item1　{
      display: inline-block;
		
    }

}

/* main6 */

#main6 p {
	font-size: 1.5em;
	font-weight: bold;
	width: 50%;
}
.main6-wrap {
	display: flex;
	text-align: center;
	margin-bottom: 13vh;
}
.main6-wrap a {
	color: white;
    text-decoration: none;
    display: block;
}
.main6-1 {
	background-color: red;
	width: 50%;
	text-align: center;
	line-height: 10em;
	
}
.main6-2 {
	background-color: black;
	width: 50%;
	line-height: 10em;
	
}
/* main7 */

#main7 {
	background-color: gray;
	padding-bottom: 10vh;
}
.main7-wrap {
	text-align: center;
	width: 85%;
	margin: 0 auto;
	padding-top: 10vh;
}

.main7-wrap h1{
    font-size: 2em;
    padding-bottom: 3vh;
}

.main7-wrap p {
    padding-bottom: 5vh;
    
}
.main7-1{
	background-color: red;
	font-weight: bold;
	width: 330px;
	margin: 0 auto;
	height: 50px;
	font-size: 1.2em;
	line-height: 50px;
}
.main7-wrap a {
	text-decoration: none;
	color: white;
}
/* main8 */

.main8-list a{
    color: white;
    text-decoration: none;
    list-style: none;

}

@media screen and (min-width:768px){
    .main8-wrap{
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.main8-wrap p{
    padding-left: 5vw;
}

.main8-list ul{
    display: flex;
    list-style: none;
}

.main8-list li:not(:last-child){
    padding: 0 1vw;
    border-right: 1px solid white;

}

.main8-list li:last-child{
    padding: 0 5vw 0 1vw;

}

    
}

@media screen and (max-width:768px){

    .main8-wrap{
      background-color: #000;
      color: white;
      text-align: center;

    }
    

}